* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; //10px相当
}

body {
    background: #eeeeee;
    min-height: 200vh;
    font-size : 1.6rem; //16px
    overflow-x: hidden;
}

a {
    color: #c09288;
}

p {
    margin-bottom: 1em;
}

/*
 * Container
 */
.container {
    position  : absolute;
    width     : 100%;
    top       : 0;
    left      : 0;
    transition: 0.5s;

    &.is-open {
        left: -250px;
    }
}

/*
 * Header
 */
.header {
    position       : fixed;
    width          : 100%;
    height         : 60px;
    top            : 0;
    left           : 0;
    display        : flex;
    justify-content: center;
    align-items    : center;
    background     : #ffffff;
    transition     : 0.5s;

    &.is-open {
        left: -250px;
    }

    &__logo {
        font-family    : 'Pacifico', cursive;
        color          : #000000;
        font-size      : 2.8rem;
        line-height    : 2.8rem;
        text-decoration: none;
        display        : none;
    }

    &__toggle {
        position       : absolute;
        top            : 0;
        right          : 0;
        width          : 60px;
        height         : 60px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        background     : #c09288;
        cursor         : pointer;

        &::before {
            position        : absolute;
            content         : "";
            width           : 30px;
            height          : 3px;
            background      : #e0c8c4;
            transform       : translateY(-8px);
            transition      : 0.3s;
            border-radius   : 1px;
            // opacity      : 0.5;
        }

        &::after {
            position     : absolute;
            content      : "";
            width        : 30px;
            height       : 3px;
            background   : #e0c8c4;
            transform    : translateY(8px);
            transition   : 0.3s;
            border-radius: 1px;
        }

        &.is-open {
            &::before {
                transform : translateY(0) rotate(-45deg);
                transition: 0.5s;
            }

            &::after {
                transform : translateY(0) rotate(45deg);
                transition: 0.5s;
            }
        }

    }

}

/*
 * Menu
 */
.menu {
    position   : fixed;
    top        : 0;
    right      : -250px;
    width      : 250px;
    height     : 100vh;
    background : #ffffff;
    padding    : 20px 25px;
    transition : 0.5s;
    line-height: 2em;
    overflow-y : auto;

    ul {
        li {
            list-style: none;
        }
    }

    &.is-open {
        right: 0;
    }
}

/*
 * Main
 */
.main {
    margin-top: 60px;
    padding   : 15px 20px;
}